.container {
  display:flex;
  width: 82%;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px #ccc solid;
}

.latest {
  background-color: darkblue;  
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.header-marquee {
  display: flex;
  flex-direction: row;
}

.header-text {
  text-decoration: none;
  font-size: 15px;
}

.header-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-image {
  margin: 0 20px 0 20px;
}

.news-container {
  background-color: lightgray;
  margin: 0;
  display: flex;
  flex-direction: row;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.news-text {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.news-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.news-date {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.news-details {
  font-size: 17px;
  line-height: 1.4;
}

.news-image-container {
  position: relative;
  margin: 10px 10px 0 10px;
  width: 200px;
  height: 200px;
}

.news-image {
  display: block;
}

.news-image-overlay {
  position: absolute;
  top: 200;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.news-image-container:hover .news-image-overlay {
  opacity: 0.6;
}

.news-image-text {
  color: white;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


